/* General */

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    background-color: rgb(250, 250, 250);
}

/* Sidebar */

.sidebar {
    width: max(200px, 30%);
    height: 100%;

    background-image: url(../assets/bg-image.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

/* Title & Logo */

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f3f1f1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30%;
    padding: 0.9rem 0;
}

.logo img {
    width: 7.5rem;
    height: auto;
}

.title {
    margin: 0;

    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 6rem;
    text-transform: uppercase;

    
}

/* Footer credit */

.image-credit, .image-credit a {
    color: #FFFFFF;
}

.image-credit {
    text-align: center;
    font-weight: 500;
    font-size: 0.9025rem;
}

/* Main content */

main {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro, .form, .create-account {
    padding: 2.5rem;
}

/* Intro */

.intro p {
    font-weight: 600;
    font-size: 1.6rem;
    max-width: 50rem;
}

/* Form */

.form {
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
    padding-top: 0;
}

.form p {
    padding-top: 0;
    margin-bottom: 0;

    font-weight: 600;
    font-size: 1.4rem;
}

form > div {
    display: flex;
    gap: 5rem;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

form label {
    color: #525050;
    text-transform: uppercase;
    letter-spacing: 0.125rem;

    font-size: 0.75rem;
    font-weight: 600;

    padding-bottom: 0.1rem;
    margin-top: 1.5rem;
}

form input {
    background-color: rgb(251, 251, 251);

    border: 1px solid #E5E7EB;
    border-radius: 4px;

    min-height: 1.75rem;
    padding: 0.25rem 0.5rem;
}

form input:focus {
    outline: transparent;
    border: 1.5px solid rgb(49, 98, 233);
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.25);
}

form input:invalid {
    border-color: red;
}

/* Create account */

.create-account button {
    color: rgb(252, 244, 244);
    background-color: #596D48;

    padding: 0.8rem 2.5rem;

    border: none;
    border-radius: 0.5rem;

    font-weight: 600;
}

.create-account p {
    margin-top: 2rem;
}

.create-account a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}