/* General */

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    background-color: rgb(230, 225, 225);
}

/* Sidebar */

.sidebar {
    width: max(200px, 30%);
    height: 100%;

    background-image: url(../assets/bg-image.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

/* Title & Logo */

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f3f1f1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30%;
    padding: 0.9rem 0;
}

.logo img {
    width: 7.5rem;
    height: auto;
}

.title {
    margin: 0;

    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 6rem;
    text-transform: uppercase;

    
}

/* Footer credit */

.image-credit, .image-credit a {
    color: #FFFFFF;
}

.image-credit {
    text-align: center;
    font-weight: 500;
    font-size: 0.9025rem;
}

/* Main content */

main {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro, .form, .create-account {
    padding: 2.5rem;
}

/* Form */

.form {
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}

form > div {
    display: flex;
    gap: 5rem;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

/* Create account */

.create-account button {
    color: rgb(252, 244, 244);
    background-color: #8f9334;

    padding: 0.8rem 2.5rem;

    border: none;
    border-radius: 0.5rem;

    font-weight: 600;
}

.create-account a {
    text-decoration: none;
    color: #8f9334;
    font-weight: 600;
}